.container {
  display: grid;
  width: 99vw;
  /* height: 80vw; */
  margin: auto;
  margin-top: 20px;
  grid-template-rows: 10vw 8vw 40vw 5vw;
  grid-gap: 10px;
  background-color: hsl(43, 74%, 49%);
}

.box {
  display: flex;
  /* align-items: center; */
  /* border: 2px solid blue; */
  /* background-color: green; */
}
.header_content {
  display: flex;
}
#Navbar {
  display: flex;
  /* border-radius: 10px; */
  /* padding: 5px; */
  margin: auto;
  /* margin-bottom: 80px; */
  /* border: 2px solid #daa520; */
  color: #800000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  font-weight: 1000;
  /* background-color: #800000; */
}
.main_header {
  /* padding-right: 20vw; */
  font-size: 20px;
  font-style: italic;
}
.social_contact {
  /* margin: 0; */
}
#title {
  display: flex;
  justify-content: center;
  font-size: 70px;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #800000;
}

#card {
  display: grid;
  width: 25vw;
  height: 35vw;
  grid-template-rows: 15vw 5vw 10vw 5vw;
  grid-template-areas:
    "card1"
    "card2"
    "card3";
  margin: auto;
  border: 3px solid #800000;
  border-radius: 10px;
  justify-content: center;
  padding: 0px;
}

#card_content {
  display: flex;
  width: 25vw;
  /* grid-template-rows: 25vw 1vw 10vw 5vw; */
  /* color: green; */

  /* border: 2px solid pink; */
  /* grid-gap: 2px; */
  /* margin: 2px; */
}

/* .card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
} */
.food_image1 {
  background-image: url("images/card1.jpg");
  background-size: cover;
  background-repeat: none;
}
.food_image2 {
  background-image: url("images/card2.jpg");
  background-size: cover;
  background-repeat: none;
}
.food_image3 {
  background-image: url("images/card3.jpg");
  background-size: cover;
  background-repeat: none;
}

.foodtitle1 {
  justify-content: center;
  padding-top: 20px;
  /* padding-left: 10px; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  /* font-weight: 200; */
  color: #800000;
}

.foodtitle2 {
  justify-content: center;
  padding-top: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  color: #800000;
}

.foodtitle3 {
  justify-content: center;
  padding-top: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  color: #800000;
}

.food_content2 {
}
.food_content3 {
}

#footer_content {
  display: flex;
  justify-content: space-between;
}
.footer {
  justify-content: center;
  color: #800000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: oblique;
  padding-left: 30%;
  padding-top: 50px;
}
